# Data analysis with Pandas 

## Introduction

This notebook will give a short introduction to one of the Python data analysis libraries: `pandas`.  

`Pandas` is widely used in data science, machine learning, scientific computing, and many other data-intensive fields. Some of its advantages are:

- data representation: easy to read, suited for data analysis 
- easy handling of missing data
- easy to add/delete columns from `pandas` data structures
- data alignment: intelligent automatic label-based alignment
- handling large datasets
- powerful grouping of data
- native to `Python`
  
`Pandas` provides rich data structures and indexing functionality to make it easy to reshape, slice and dice, perform aggregations, and select subsets of data. Its key data structures are called the `Series` and `DataFrame`.

A `Series` is a one dimensional array-like object containing an array of data and an associated array of data labels, called its index.

A `DataFrame` is a two-dimensional tabular, column-oriented data structure with both row and column labels.

In [ ]:
import pandas as pd
import numpy as np

## Series

A `Series` is a 1D array-like object containing an array of data.

In [ ]:
first_series = pd.Series([4, 8, -10, np.nan, 2])
first_series

The representation of `first_series` shows the index on the left and the values on the right.
Here the default index format is used: integers `0` to `N-1`, `N` being the length of the data.

### Creating a Series from a dictionary

In [ ]:
second_series = pd.Series({"Entry1": 0.5, "Entry2": 33.0, "Entry3": 12.0})
second_series

### Creating a Series from a sub-selection of another Series

In [ ]:
third_series = pd.Series(second_series, index=["Entry1", "Entry4"])
third_series

### Adding index names

In [ ]:
first_series.index = ["Row1", "Row2", "Row3", "Row4", "Row5"]
first_series

### Accessing information on Series

In [ ]:
first_series

The index object and the values can be accessed individually using:

In [ ]:
first_series.index

In [ ]:
first_series.values

The index can be used to access the values by a dictionary-like notation or by attribute

In [ ]:
first_series.Row1

In [ ]:
first_series["Row1"]

In [ ]:
first_series[["Row3", "Row1"]]

In [ ]:
# Change values stored in the Series
first_series["Row4"] = 8
first_series

Filtering, scalar multiplication or mathematical functions can be applied to a `Series`

In [ ]:
# Display all positive values
first_series[first_series > 0]

In [ ]:
# Multiply all values in the Series by 2
first_series * 2

In [ ]:
# Calculate sine of all values
np.sin(first_series)

A `Series` can also be substituted into many functions that expect a dictionary.

In [ ]:
# Check if `Row1` is in the Series
"Row1" in first_series

In [ ]:
# Check if `Row9` is in the Series
"Row9" in first_series

## DataFrame

A `DataFrame` represents a spreadsheet-like data structure containing an ordered collection of columns.
Each column can be a different value type: numeric, string, boolean, ...

### Create a DataFrame using a dictionary

In [ ]:
# create dictionary
first_data = {
    "Col_1": ["5", 2, "4", "7"],
    "Col_2": [
        7,
        8,
        2,
        1,
    ],
    "Col_3": [10, 4, 2, 1],
    "Col_4": [5, 6, 7, 1],
    "Col_5": [9, 9, 2, 1],
    "Col_6": [7, 8, 2, 1],
}
# convert dictionary to DataFrame
first_df = pd.DataFrame(first_data)
first_df

In [ ]:
# Display some info about the created DataFrame
first_df.info()

In [ ]:
first_df.dtypes

Note that `Col_1` contains a mixture of integers and strings.

### Viewing data

Here is how to display the top and bottom rows of the frame

In [ ]:
# display the top 3 rows
first_df.head(3)

In [ ]:
# display the bottom 2 rows
first_df.tail(2)

#### Display the index and columns

In [ ]:
first_df.index

In [ ]:
first_df.columns

`DataFrame.to_numpy()` gives a `NumPy` representation of the data. 

This can be an expensive operation when the `DataFrame` has columns with different data types.

`DataFrame.to_numpy()` does not include the index or column labels in the output.

In [ ]:
first_df.to_numpy()

`describe()` shows a quick statistic summary of the data:

In [ ]:
first_df.describe()

In [ ]:
# to transpose the data
first_df.T

#### Sorting

In [ ]:
# sorting by an axis
first_df.sort_index(axis=1, ascending=False)

In [ ]:
# sorting by values
first_df.sort_values(by=["Col_4"])

### Selection
`Pandas` supports several types of multi-axis indexing:

- `.loc` to choose rows and columns by label. You have to specify rows and columns based on their row and column labels.  
- `.iloc` to choose rows and columns by position. You have to specify rows and columns by their integer index.

In [ ]:
first_df

#### Selecting Rows

In [ ]:
# Select index 2 i.e. the 3rd row of the DataFrame
first_df.iloc[2]

If we name the index, this name can also be used to extract data

In [ ]:
first_df.index = ["Row1", "Row2", "Row3", "Row4"]
print(f"DataFrame with named index:\n{first_df}")
print(f"\nSelection of the 3rd row:\n {first_df.loc['Row3']}")

In [ ]:
# Selecting several rows
# using index
first_df[0:3]

In [ ]:
# using name to select a sequence of rows
first_df.loc["Row1":"Row3"]

<div class="alert alert-warning">

**Warning:**

Note that contrary to usual Python slices, both the start and the stop are included with `loc`.

</div>

In [ ]:
# using name to select rows in a different order
first_df.loc[["Row3", "Row2"]]

In [ ]:
# Selecting several rows using their positions
first_df.iloc[:, 2:4]

In [ ]:
# selecting the 4th row by position
first_df.iloc[3]

#### Selecting columns

In [ ]:
# Selecting a single column. The output is a Series.
first_df["Col_4"]

In [ ]:
type(first_df["Col_4"])

In [ ]:
# Equivalent method to select a column
first_df.Col_4

In [ ]:
# Selecting several columns using their names
first_df.loc[:, "Col_2":"Col_4"]

#### Selecting subset

In [ ]:
# selecting a subset of the DataFrame using positions
first_df.iloc[1:3, 2:5]

In [ ]:
# selecting a subset of the DataFrame using labels
first_df.loc["Row2":"Row3", "Col_3":"Col_5"]

In [ ]:
# Getting a single value using labels
first_df.loc["Row3", "Col_4"]

In [ ]:
# Getting a single value using positions
first_df.iloc[2, 3]

In [ ]:
# To get faster access to a scalar
first_df.iat[2, 3]

#### Boolean indexing

In [ ]:
# Select the section of DataFrame where the values of `Col_2` are larger than 2
first_df[first_df["Col_2"] > 2]

In [ ]:
# Create a new DataFrame
second_df = pd.DataFrame(
    np.random.randn(6, 4), index=list("abcdef"), columns=list("ABCD")
)
second_df["E"] = ["one", "one", "three", "two", "three", "four"]
second_df

`isin()` can also be used for filtering

In [ ]:
# Select row if value in 'E' column is 'three'
second_df[second_df["E"].isin(["three"])]

### Setting
#### Adding column to a DataFrame
Create a `Series` to be added to `second_df`.

In [ ]:
series_to_add = pd.Series([1, 2, 3, 4, 5, 6], index=["a", "b", "d", "e", "g", "h"])
series_to_add

In [ ]:
second_df["F"] = series_to_add
second_df

Note that the index is aligned: the added series has additional entries `g` and `h` and no entries for `c` and `f`. The additional entries are discarded in the `DataFrame` and the absence of entry is marked as `NaN`.

#### Setting values by label

In [ ]:
second_df.at["b", "A"] = 0
second_df

#### Setting values by label

In [ ]:
second_df.iat[1, 0] = 0
second_df

#### Using a NumPy array

In [ ]:
# Change all values in column 'C'
second_df.loc[:, "C"] = np.arange(len(second_df))
second_df

### Missing data

`Pandas` uses `numpy.nan` to represent missing data. This value is by default not included in computations.

#### Dropping rows with missing data
The following command will remove rows `c` and `f` because they contain one `NaN` value.
To filter rows containing only `NaN` values, replace `how='any'` by `how='all'`.

In [ ]:
second_df.dropna(axis=0, how="any", inplace=False)

#### Filling missing data

The following command replaces `NaN` by `8.33`.

In [ ]:
second_df.fillna(value=8.33)

#### Define a mask 
`True` marks the `NaN` values in the DataFrame.

In [ ]:
pd.isna(second_df)

####  Some of the methods to deal with missing data

`DataFrame.isna` indicates missing values.  

`DataFrame.notna` indicates existing (non-missing) values.

`DataFrame.fillna` replaces missing values.  
    
`Series.dropna` drops missing values.  

`Index.dropna` drops missing indices.

### Operations
#### Statistics

In [ ]:
second_df

In [ ]:
# Note that we need to discard column `E`, which contains strings, to calculate the mean
del second_df["E"]

second_df.mean()

Note that `NaN` values in column `F` have been automatically discarded.

You can also specify which axis to calculate the mean. For example, to calculate the average for each row,

In [ ]:
second_df.mean(1)

#### Apply
Use `apply` to apply a function along an axis of the DataFrame

In [ ]:
third_df = pd.DataFrame({"a": [1, 2, 3, 4, 5], "b": [7, 8, 9, 10, 11]})
third_df

In [ ]:
# calculate the square root of all elements in the DataFrame
third_df.apply(np.sqrt)

In [ ]:
# calculate the sum along one of the axes
third_df.apply(np.sum, axis=0)

In [ ]:
third_df.apply(np.sum, axis=1)

#### Merge

`Pandas` provides several tools to easily combine `Series` and `DataFrames`.

##### concatenating objects with `concat()`
Syntax:
```
pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None,  
names=None, verify_integrity=False, copy=True)
```

Simple example:

In [ ]:
df1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df2 = pd.DataFrame({"C": [-1, -2, -3], "D": [-4, -5, -6]})

In [ ]:
result = pd.concat([df1, df2], join="outer")
result

If `join='inner'`, instead of getting the union of the DataFrames, 
we will get the intersection. For the 2 example DataFrames, the intersection is empty as shown below:

In [ ]:
result = pd.concat([df1, df2], join="inner")
result

##### joining with `merge()`
Syntax:
```
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)
```
Simple example:

In [ ]:
left_df = pd.DataFrame({"key": ["0", "1"], "lval": [1, 2]})
right_df = pd.DataFrame({"key": ["0", "1", "2"], "rval": [3, 4, 5]})

In [ ]:
left_df

In [ ]:
right_df

In [ ]:
pd.merge(left_df, right_df, on="key")

With `how='right'`, only the keys of the right frame are used:

In [ ]:
pd.merge(left_df, right_df, on="key", how="right")

##### joining on index

In [ ]:
left_df = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["Key0", "Key1", "Key2"]
)


right_df = pd.DataFrame({"C": ["C0", "C2"], "D": ["D0", "D2"]}, index=["Key0", "Key2"])

result = left_df.join(right_df)
result

#### Grouping
“group by” is referring to a process involving one or more of the following steps:

- **Splitting** data into groups based on some criteria

- **Applying** a function to each group independently

- **Combining** the results into a data structure

In [ ]:
data_group = {
    "Detectors": [
        "Det0",
        "Det1",
        "Det2",
        "Det3",
        "Det4",
        "Det5",
        "Det6",
        "Det7",
        "Det8",
        "Det9",
        "Det10",
        "Det11",
    ],
    "GroupNb": [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
    "Counts": [2014, 153, 10, 5300, 123, 2000, 1075, 217, 16, 1750, 500, 800],
    "RunningOK": [
        True,
        True,
        False,
        False,
        True,
        True,
        True,
        True,
        False,
        True,
        True,
        True,
    ],
}
df_group = pd.DataFrame(data_group)

In [ ]:
# Use 'GroupNb' to group the DataFrame
grouped = df_group.groupby("GroupNb")
for name, group in grouped:
    print(f"GroupNb: {name}")
    print(group)

The _DataFrame_ has been split into 4 groups according to the content of `GroupNb`.

Below we group the _DataFrame_ according to `RunningOK` and then we sum the counts of `Det`s with `RunningOK=True`.

In [ ]:
# Group on value of RunningOK
select_running_det = df_group.groupby(["RunningOK"])

# Sum counts of all running "Det"s
print(
    f"Total count of running Dets: {select_running_det.get_group((True, ))['Counts'].sum()}"
)

In [ ]:
# Apply several functions to the groups at once
select_running_det["Counts"].agg(["sum", "mean", "std"])

### Plotting

In [ ]:
# import matplotlib.pyplot as plt

# %matplotlib widget

In [ ]:
df_to_plot = pd.DataFrame(
    np.concatenate(
        (
            np.random.randn(100, 3),
            np.sin(np.linspace(0, 2 * np.pi, 100)).reshape(100, 1),
        ),
        axis=1,
    ),
    index=pd.date_range("1/1/2000", periods=100),
    columns=["A", "B", "C", "D"],
)

In [ ]:
df_to_plot.plot();

**Plotting one column vs. another using a third column to color the points**

In [ ]:
df_to_plot.plot.scatter(x="B", y="C", c="D", grid=True, s=25);

**Histograms**

Histograms can be plotted using `DataFrame.plot.hist()` and `Series.plot.hist()`.

In [ ]:
help(pd.DataFrame.plot.hist)

In [ ]:
df_to_plot.plot.hist(alpha=0.25, bins=25, grid=True);

`DataFrame.hist()` plots the histograms of the columns on multiple subplots

In [ ]:
df_to_plot.hist(color="k", alpha=0.5, bins=50);

## Reading and writing files

In [ ]:
# Create a simple DataFrame to write to files
df_to_write_to_file = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)

df_to_write_to_file

### CSV

In [ ]:
# writing a csv file
df_to_write_to_file.to_csv("simple_file.csv")

Options can be added when saving to a .csv file. For example:

- Without the index  
```
df_to_write_to_file.to_csv('simple_file.csv', index=False)
```  

- Specify a custom delimiter for the CSV output; the default is a comma  
```
df_to_write_to_file.to_csv('simple_file.csv',sep='\t') # Use Tab to separate data
```

- Dealing with missing values  
```
df_to_write_to_file.to_csv('simple_file.csv', na_rep='Unknown') # missing value saved as 'Unknown'
```

- Specifying the precision of the data written to file
```
df_to_write_to_file.to_csv('simple_file.csv', float_format='%.2f')
```

- Whether to export the column names  
```
df_to_write_to_file.to_csv('simple_file.csv', header=False)
```

- Select columns to be written in the .csv file. Default is None.    
```
df_to_write_to_file.to_csv('simple_file.csv',columns=['C'])
```

In [ ]:
# Reading a csv file
pd.read_csv("simple_file.csv")

### HDF5

An additional library `PyTables` is required to deal with HDF5 within `Pandas`. It can be installed within a notebook using

```
import sys
!{sys.executable} -m pip install tables
```

In [ ]:
# Writing an HDF5 file

# df_to_write_to_file.to_hdf('simple_file.h5', 'df_to_write_to_file', format='table', mode='w')

In [ ]:
# Reading an HDF5 file

# pd.read_hdf('simple_file.h5')

### Excel
Dealing with Excel files in `Pandas` requires `openpyxl`, `xlrd`.
To be installed from a notebook:  
```
import sys
!{sys.executable} -m pip install openpyxl xlrd
```

In [ ]:
# Writing an Excel file

# df_to_write_to_file.to_excel('simple_file.xlsx', sheet_name='Sheet1')

In [ ]:
# Reading an Excel file

# pd.read_excel('simple_file.xlsx', 'Sheet1')

##  Exercises
The solutions can be found in the _solutions_ folder of this repository.

### How to combine series to form a dataframe?
Combine `series1` and `series2` to form a DataFrame

In [ ]:
series1 = pd.Series(["a", "b", "c", "d"])
series2 = pd.Series([1, 2, 3, 4])

**Solution:**

In [ ]:
df = pd.DataFrame({"col1": series1, "col2": series2})
df

### How to stack two series vertically and horizontally?

Stack `series1` and `series2` vertically and horizontally to form a dataframe.

In [ ]:
series1 = pd.Series(range(5))
series2 = pd.Series(list("vwxyz"))

**Solution:**

In [ ]:
# Horizontal
pd.concat([series1, series2], axis=1)

# Vertical
pd.concat([series1, series2], axis=1).T

### How to get the positions of items of series A in another series B?

Get the positions of items of `series2` in `series1` as a list.

In [ ]:
series1 = pd.Series([10, 3, 6, 5, 3, 1, 12, 8, 23])
series2 = pd.Series([1, 3, 5, 23])

**Solution:**

In [ ]:
[pd.Index(series1).get_loc(i) for i in series2]

### How to compute difference of differences between consecutive numbers of a series?

Difference of differences between the consecutive numbers of `series`.

In [ ]:
series = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# Differences:               [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# Difference of differences: [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

**Solution:**

In [ ]:
print(series.diff().tolist())
print(series.diff().diff().tolist())

### How to check if a dataframe has any missing values?

Check if `df` has any missing values.

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=list("abcdef"), columns=list("ABCD"))
df["E"] = [0.5, np.nan, -0.33, np.nan, 3.14, 8]
df

**Solution:**

In [ ]:
df.isnull().values.any()

### Playing with `groupby` and csv files

- load the csv file [`biostats.csv`](https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv) to a `users` DataFrame
- determine the average, minimum and maximum ages per gender
- determine the average weight of people over 35 years of age

In [ ]:
df = pd.read_csv(
    "https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv", skipinitialspace=True
)

**Solution:**

In [ ]:
# Average age per gender
print("Average age per gender", df.groupby("Sex")["Age"].mean())

# One can also plot the result
df.groupby("Sex")["Age"].mean().plot(kind="bar")

print()

# min max age per gender
print("Minimum age by gender:", df.groupby("Sex")["Age"].min())
print("Maximum age by gender:", df.groupby("Sex")["Age"].max())

# Other solution: Calculate average, mean and max at once
display(df.groupby("Sex")["Age"].agg(["mean", "min", "max"]))

# Average weight and height of people over 35 years of age
print("35 year olds:")
df[df.Age > 35].loc[:, "Height (in)":"Weight (lbs)"].mean()

## References

https://pandas.pydata.org/

https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

Exercises:   
https://www.w3resource.com/python-exercises/pandas/index.php  
https://github.com/guipsamora/pandas_exercises/tree/master/03_Grouping/Occupation

CSV files:  
https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html